body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    text-align: center;
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.1);
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    color: #33FF33;
}

p {
    color: #7f8c8d;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

td {
    height: 50px;
    vertical-align: center;
    padding-left: 10px;
}

th {
    height: 50px;
    color: white;
    background-color: #33FF33;
    padding-left: 10px;
}

tr:nth-child(odd) {background-color: #f2f2f2;}
tr:hover {background-color: #0000FF55;}